@import url('https://fonts.googleapis.com/css?family=Lato|Righteous');
$blue: #C2E7F2;
$badge: #F1F0E2;
$brown: #D9BB93;
$Maroon: #F25652;
body {
    background-color: #fefe3b !important;
}

.navbar-light {
    .navbar-brand {
        font-family: 'Righteous', cursive;
        letter-spacing: 1em;
        color: black;
        font-size: 25px;
    }
}

.nav-item {
    .dropdown {
        .btn {
            font-family: 'Lato', sans-serif;
            font-size: 1.2rem;
            border: none
        }
        .btn:hover {
            border: none;
        }
    }
}

.content-container-1 {
    height: 100vh;
    div {
        .title {
            font-family: 'Righteous', cursive;
            font-size: 6rem;
        }
    }
    .contentrow-1 {
        padding-top: 20%;
        p {
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            font-style: italic;
        }
    }
    .buttonrow {
        transition: all .2s ease-in-out;
    }
    .buttonrow:hover {
        transform: scale(1.7);
    }
}

.contentrow-2 {
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
    }
}

.contentrow-3 {
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: blue;
        font-size: 1.5rem;
    }
}

.contentrow-4 {
    padding-top: 100px;
    a {
        text-decoration: none;
    }
}

.card-columns {
    .card {
        background-color: #333;
    }
}

.footer {
    background-color: black;
    color: white;
    padding-top: 50px;
    .footer-row-2 {
        padding-top: 50px;
    }
    a {
        color: yellow;
    }
    h6 {
        color: yellow;
    }
    i {
        color: yellow;
    }
}

@import '4chan';
@import 'reddit';
@import 'instagram';
@import 'twitter';
@import 'youtube';
@import 'facebook';
@import 'cursor';